body {
    background-color: #dcd0c8;
    font-family: Arial;
}

h1 {
    font-size: 2rem;
    font-weight: 800;
}

[src] {
    width: 50%;
}

.heading {
    font-family: Arial;
    text-align: center;
    background-color: #7E8774
}